:root {
    color-scheme: light;

    /* Акценти */
    --c-primary: #A63D3D;
    --c-primary-hover: #913434;

    --c-secondary: #5E6C8A;
    --c-secondary-hover: #4F5D79;

    /* Фони */
    --c-bg-primary: #162033;     /* темно-синій головний фон */
    --c-bg-secondary: #1F2B42;   /* секції */
    --c-bg-tertiary: #7A2323;    /* передній план темно-червоний */

    /* Текст */
    --c-text-primary: #E4DFD8;
    --c-text-secondary: #FFF8F6;
    --c-text-muted: #B4AFA8;
    --c-placeholder: #B4AFA888;

    /* Межі */
    --c-border: #33415C;

    /* Тіні */
    --shadow-sm: 0 2px 6px rgba(0,0,0,.18);
    --shadow-md: 0 10px 24px rgba(0,0,0,.30);

    /* Типографіка */
    --ff-base: 'Poppins', system-ui, sans-serif;

    /* Радіуси */
    --radius: 8px;
    --radius-card: 14px;
    --radius-btn: 999px;

    /* Фокус */
    --focus-ring: 0 0 0 3px rgba(166,61,61,.22);
}



html[data-mode='dark']{
    color-scheme: dark;

    --c-primary: #BC4A4A;
    --c-primary-hover: #D05757;

    --c-secondary: #7D8AA5;
    --c-secondary-hover: #909CB5;

    --c-bg-primary: #101827;
    --c-bg-secondary: #1A2438;
    --c-bg-tertiary: #641C1C;

    --c-text-primary: #D9D4CD;
    --c-text-secondary: #FFF8F6;
    --c-text-muted: #A9A49E;
    --c-placeholder: #A9A49E88;

    --c-border: #2B3750;

    --shadow-sm: 0 2px 6px rgba(0,0,0,.28);
    --shadow-md: 0 10px 24px rgba(0,0,0,.45);

    --focus-ring: 0 0 0 3px rgba(188,74,74,.24);
}